
/** home **/

.carousel-caption{
    margin-bottom:  28%;
    background-color: #0000007e;
    border-radius: 20px;
}


.textInf{
    color: #fff;
}

.container.fluid{
    background-color: #fff;
}

/** SERVICIOS **/


.display-4 {
    color: #3d3d3d
}

